# Configurações do Banco de Dados (Hostinger)
DB_HOST=localhost
DB_USER=u609303672_Virtud
DB_PASSWORD=Virtude@2026
DB_NAME=u609303672_Estoque

# Segurança
SESSION_SECRET=virtude-bigbags-secret-2026
NODE_ENV=production
